
<mat-drawer-container class="container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item *ngIf="this.authService.isLoggedIn" routerLinkActive="active" routerLink="/users"> Users</a>
        <a mat-list-item *ngIf="this.authService.isLoggedIn" > Reports</a>
        <a mat-list-item *ngIf="this.authService.isLoggedIn" routerLinkActive="active" routerLink="/locations"> Locations</a>
        <a mat-list-item *ngIf="this.authService.isLoggedIn" routerLinkActive="active" routerLink="/doctor"> Doctors</a>
        <a mat-list-item *ngIf="!this.authService.isLoggedIn" routerLinkActive="active" routerLink="/log-in">Sign in</a>
        <a mat-list-item *ngIf="!this.authService.isLoggedIn" routerLinkActive="active"
      routerLinkActive="active" routerLink="/sign-up">Sign up</a>
        <button mat-flat-button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" >Logout</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Timesheet Management</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-drawer-container>
