<div class="container-fluid">
    <br>
        <h2>Add Location</h2>
        <mat-card>
            <form #locForm="ngForm" (ngSubmit)="onSubmit(locForm)" novalidate>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" ngModel name="title" #title="ngModel" class="form-control" [(ngModel)]="locModel.title">
                </div>

                <div class="form-group">
                    <label>Sector</label>
                    <select ngModel name="sector" #sector="ngModel" class="form-control" [(ngModel)]="locModel.sector">
                        <option value="east">East</option>
                        <option value="west">West</option>
                    </select>
                </div>

                <button mat-flat-button color="accent">Submit</button>
            </form>
        </mat-card>
</div>