<!-- <div class="row">
    <div class="col-8">
        <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Doctor List</h2>
        </div>
    
        <div class="table-responsive">
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-primary" (click)="display()">Add Doctor</button>
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">File Number</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of Doctors; let i = index">
                        <td>{{ doctor.firstname }}</td>
                        <td>{{ doctor.lastname }}</td>
                        <td><button class='btn btn-sm' routerLinkActive="active" routerLink="/timecard/{{ doctor.filenumber}}">{{ doctor.filenumber }}</button></td>
                        <td class="text-center">
                            <button class="btn btn-sm" (click)="edit(doctor._id)">View/Edit</button>
                            <button class="btn btn-sm" (click)="delete(doctor._id, i)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <form [hidden]="isDisplayed" [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" formControlName="firstname" required>
            </div>
  
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" formControlName="lastname" required>
            </div>
    
            <div class="form-group">
              <label>File Number</label>
                <input class="form-control" type="text" formControlName="filenumber" required>
            </div>
    
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Add Doctor</button>
            </div>
         </form>

         <form [hidden]="editorDisplay" [formGroup]="editForm" (ngSubmit)="editUser()">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" formControlName="firstname" required>
            </div>
  
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" formControlName="lastname" required>
            </div>
    
            <div class="form-group">
                <label>File Number</label>
                <input class="form-control" type="text" formControlName="filenumber" required>
            </div>
    
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Make Changes</button>
            </div>
         </form>
    </div>
</div> -->


<div>
  <div style="display:flex; padding-top: 25px;">
    <h2>Doctors List</h2>
    <button mat-flat-button color="accent" (click)="addDoctor()" style="margin-left:auto;">Add Doctor</button>
  </div>
  <router-outlet></router-outlet>
  <!-- <app-user-edit (usersEvent)="refresh($event)"></app-user-edit> -->
  <table mat-table [dataSource]="Doctors" class="mat-elevation-z8">
    
    <!-- Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let doctor"> {{ doctor.firstname | titlecase }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let doctor"> {{doctor.lastname}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="filenumber">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let doctor"> {{doctor.filenumber}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let doctor"> 
        <button mat-button color="primary" (click)="editDoctor()">Edit</button>
        <button mat-button color="accent" (click)="deletedoctor(doctor)">Delete</button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
