<div class="row">
    <div class="col-8">
        <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Doctor List</h2>
        </div>
    
        <div class="table-responsive">
            <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-primary" (click)="display()">Add Doctor</button>
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">File Number</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of Doctors; let i = index">
                        <td>{{ doctor.firstname }}</td>
                        <td>{{ doctor.lastname }}</td>
                        <td><button class='btn btn-sm' routerLinkActive="active" routerLink="/timecard/{{ doctor.filenumber}}">{{ doctor.filenumber }}</button></td>
                        <td class="text-center">
                            <button class="btn btn-sm" (click)="edit(doctor._id)">View/Edit</button>
                            <button class="btn btn-sm" (click)="delete(doctor._id, i)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <form [hidden]="isDisplayed" [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" [class.is-invalid]="firstname?.invalid && firstname?.touched" formControlName="firstname" required>
              <div *ngIf="firstname?.errors && firstname?.touched">
                <div class="alert alert-danger" *ngIf="firstname?.errors?.required">First Name is required</div>
                <div class="alert alert-danger" *ngIf="firstname?.errors?.minlength">First Name must be at least 3 characters</div>
              </div>
            </div>
  
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" [class.is-invalid]="lastname?.invalid && lastname?.touched" formControlName="lastname" required>
              <div *ngIf="lastname?.errors && lastname?.touched">
                <div class="alert alert-danger" *ngIf="lastname?.errors?.required">Last Name is required</div>
                <div class="alert alert-danger" *ngIf="lastname?.errors?.minlength">Last Name must be at least 3 characters</div>
              </div>
            </div>
    
            <div class="form-group">
              <label>File Number</label>
              <input class="form-control" type="text" [class.is-invalid]="filenumber?.invalid && filenumber?.touched" formControlName="filenumber" required>
              <div *ngIf="filenumber?.errors && filenumber?.touched">
                <div class="alert alert-danger" *ngIf="filenumber?.errors?.required">File Number is required</div>
                <div class="alert alert-danger" *ngIf="filenumber?.errors?.pattern">File Number must be a number</div>
              </div>
            </div>
    
            <div class="form-group">
              <button class="btn btn-primary btn-block" [disabled]="doctorForm.invalid" type="submit">Add Doctor</button>
            </div>
         </form>

         <form [hidden]="editorDisplay" [formGroup]="editForm" (ngSubmit)="editUser()">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" formControlName="firstname" required>
            </div>
  
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" formControlName="lastname" required>
            </div>
    
            <div class="form-group">
                <label>File Number</label>
                <input class="form-control" type="text" formControlName="filenumber" required>
            </div>
    
            <div class="form-group">
              <button class="btn btn-primary btn-block" [disabled]="editForm.invalid" type="submit">Make Changes</button>
            </div>
         </form>
    </div>
</div>